* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 1.2vw;
    font-family: "Bai Jamjuree", sans-serif;
}

.hero-header .header-background {
    background-image: url(IMG/bg-header-desktop.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.hero-header .logo-main {
    display: block;
    margin: auto;
    padding-top: 10vw;
    padding-bottom: 4vw;
    width: 15vw;
    max-width: 200px;
    height: auto;
}

.hero-header .main-title {
    color: hsl(210, 10%, 33%);
    text-align: center;
}

.description, p {
    text-align: center;
    color: hsl(201, 11%, 66%);
}

.hero-header .description, .features-section > .feature-intro {
    width: 50%;
    margin: auto;
    margin-top: 0.7vw;
}

.download-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    margin-top: 3vw;
}

.download-btn {
    width: 20%;
    height: 3vw;
    border-radius: 20px;
    font-size: 1.3vw;
    color: white;
    transition: all 0.5s;
}

.download-btn:hover {
    background: black;
    border-color: black;
}

.download-btn:focus {
    background: black;
    border-color: black;
}

.download-btn:active {
    background: hsl(201, 11%, 66%);
    border-color: hsl(202, 17%, 91%);
}

.ios-btn {
    background: hsl(171, 66%, 44%);
    border-color: hsl(171, 66%, 44%);
}

.mac-btn {
    background: hsl(233, 100%, 69%);
    border-color: hsl(233, 100%, 69%);
}

.features-section h2 {
    text-align: center;
    color: hsl(210, 10%, 33%);
}

.features-section h2:first-of-type {
    margin-top: 10vw;
}

.features-section .features-list {
    display: flex;
    gap: 7vw;
    margin-top: 5vw;
    padding-right: 14vw;
    margin-bottom: 8vw;
}

.features-section :is(.features-list img, .devices-image) {
    display: block;
    width: 45vw;
    height: auto;
}

.features-section .features-list .features-details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
}

.features-section .features-list .feature-title {
    color: hsl(210, 10%, 33%);
}

.features-section .features-list p {
    text-align: start;
}   

.features-section .devices-image {
    margin: auto;
    margin-top: 5vw;
    margin-bottom: 4vw;
}

.features-section .tools-list {
    display: flex;
    margin: 4vw 7vw;
    justify-content: center;
    align-items: flex-start;
    gap: 3vw;
}

.features-section .tool-card {
    display: flex;
    flex-direction: column;
    width: 28%;
    gap: 1.3vw;
    align-items: center;
}

.features-section .tool-card img {
    display: block;
    width: 7vw;
    height: 6vw;
}

.features-section .partners-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6vw;
    margin: 9vw auto;
}

.features-section .partners-list img {
    width: 10vw;
    height: auto;
}

.main-footer {
    position: sticky;
    bottom: 5px;
    margin-top: 15vw;
    margin-bottom: 0.3vw;
    background-color: hsl(202, 17%, 91%);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 4vw;
    height: auto;
}

.main-footer .footer-logo {
    display: block;
    margin: auto;
    width: 5vw;
    height: auto;
}

.main-footer a {
    text-decoration: none;
    color: hsl(210, 10%, 33%);
}

.main-footer .footer-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5vw;
    row-gap: 1.3vw;
    width: 90%;
    margin: 2.2vw 0;
    margin-left: -8vw;
    text-align: center;
}

.main-footer .footer-links * {
    transition: all 0.5s;
}

.main-footer .footer-links *:hover {
    border: 1px solid hsl(210, 10%, 33%);
}

.main-footer .footer-links *:active {
    background-color: hsl(210, 10%, 33%);
    color: hsl(202, 17%, 91%);
}

.main-footer .social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.7vw;
    margin-right: 6vw;
}

.main-footer .social * {
    transition: all 0.6s ease-in-out;
}

.main-footer .social *:hover {
    transform: scale(1.2);
}

.main-footer .social img {
    width: 2vw;
    aspect-ratio: 1/1;
}

@media screen and (max-width: 1024px) {
    body {
        font-size: 5vw;
    }

    .hero-header .header-background {
        background-image: url(IMG/bg-header-mobile.png);
    }

    .hero-header .main-title {
        margin-top: 4.5vw;
        margin-bottom: 3vw;
    }

    .hero-header .description, .features-section > .feature-intro {
        width: 96%;
    }

    .download-buttons {
        flex-direction: column;
        margin-top: 8vw;
        gap: 4vw;
        margin-bottom: 30vw;
    }

    .download-btn {
        width: 60%;
        height: 10vw;
        font-size: 5vw;
    }

    .features-section h2 {
        font-size: 8vw;
        margin-bottom: 4vw;
    }

    .features-section .features-list {
        flex-direction: column;
        margin-top: 15vw;
        padding-right: 0;
    }

    .features-section :is(.features-list img, .devices-image) {
        width: 90%;
        margin: auto;
    }

    .features-section .features-list .features-details {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        list-style: none;
        text-align: center;
    }

    .features-section .features-list .feature-title {
        color: hsl(210, 10%, 33%);
        font-size: 6vw;
        margin-top: 10vw;
    }

    .features-section .features-list p {
        text-align: center;
        width: 85%;
        margin: auto;
    }

    .access-title {
        margin-top: 30vw;
    }

    .devices-image {
        margin-top: 15vw !important;
        margin-bottom: 20vw !important;
    }

    .features-section .tools-list {
        flex-direction: column;
        align-items: center;
        gap: 15vw;
        margin-top: 20vw;
    }

    .features-section .tool-card {
        width: 100%;
        padding-bottom: 5vw;
        gap: 10vw;
    }

    .features-section .tool-card img {
        width: 20vw;
        height: 18vw;
    }

    .features-section .partners-list {
        flex-direction: column;
        gap: 15vw;
        margin: 30vw auto;
    }

    .features-section .partners-list img {
        width: 35vw;
    }

    .main-footer {
        display: flex;
        flex-direction: column;
        gap: 4vw;
        height: auto;
        margin-bottom: 3vw;
        position: static;
    }

    .main-footer .footer-logo {
        margin-top: 10vw;
        margin-bottom: 10vw;
        width: 20vw;
    }

    .main-footer .footer-links {
        display: flex;
        flex-direction: column;
        row-gap: 6vw;
        width: 90%;
        margin: 2.2vw auto;
    }

    .main-footer .footer-links * {
        font-size: 7vw;
    }

    .main-footer .social {
        gap: 10vw;
        margin-right: 0;
        margin-top: 10vw;
    }

    .main-footer .social img {
        width: 8vw;
        aspect-ratio: 1/1;
    }

    .attribution {
        font-size: 3vw !important;
    }
}